---
import type { string } from "astro:schema";
// import Edit_Input from "@landingPage/userinformation/components/Edit_Input";
import Personal_Edit from "@landingPage/userinformation/components/Personal_Edit";

interface Props {
  class?: string;
  name: string;
  lastname: string;
  email: string;
  faculty: string;
  career: string;
  user_type: string;
}
const {
  name,
  lastname,
  email,
  faculty,
  career,
  user_type,
  class: className,
} = Astro.props;
---

<div
  class="flex rounded-xl bg-component border border-black/10 dark:bg-component-dark dark:border-white/30 dark:text-white shadow-md p-5 justify-start gap-4"
>
  <div class="">
    <h2 class="text-4xl font-semibold mb-10">Información Personal</h2>
    <div class="grid grid-cols-1 gap-8">
      <Personal_Edit field="Nombre:" data={name} client:load />
      <Personal_Edit field="Apellido:" data={lastname} client:load />
      <Personal_Edit field="Email:" data={email} client:load />
      <Personal_Edit field="Tipo de Usuario:" data={user_type} client:load />
      <Personal_Edit field="Facultad:" data={faculty} client:load />
      <Personal_Edit field="Carrera:" data={career} client:load />
    </div>
  </div>
</div>
